@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
:root {
  /* Primary Colors */
  --color-nutmeg: hsl(14, 45%, 36%);
  --bgcolor-dark-raspberry: hsl(332, 51%, 32%, 0.1);
  --color-dark-raspberry: hsl(332, 51%, 32%);
  /* Neutral Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-rose-white: hsl(330, 100%, 98%);
  --color-eggshell: hsl(30, 54%, 90%);
  --color-light-grey: hsl(30, 18%, 87%);
  --color-wenge-brown: hsl(30, 10%, 34%);
  --color-dark-charcoal: hsl(24, 5%, 18%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* padding: 2em; */
  max-width: 100vw;
  min-height: 100vh;
  background-color: hsl(30, 54%, 90%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  background-color: #ffffff;
  padding-bottom: 1em;
}

.container {
  padding: 1.5rem;
  background-color: white;
  border-radius: 1rem;
  margin: 10px;
}
.title-content {
  margin-bottom: 1.5rem;
}
.title-content h1 {
  font-family: "Young Serif", serif;
  color: var(--color-dark-charcoal);
  margin-bottom: 1rem;
  font-weight: 400;
}
.des {
  color: var(--color-dark-charcoal);
  font-family: Outfit;
  margin-bottom: 0px;
  font-size: 15px;
}

.preparation {
  background-color: var(--color-rose-white);
  padding: 2rem;
  border-radius: 1rem;
}

.bold {
  font-weight: bold;
  font-family: Outfit;
  color: var(--color-dark-charcoal);
}

.preparation-content h3 {
  font-family: Outfit;
  color: var(--color-dark-raspberry);
}

.preparation-content ul {
  margin: 1rem 0 0 1rem;
  font-size: 1rem;
  /* width: 13rem; */
}

.preparation-content li {
  padding: 0 0 0.5rem 1rem;
  font-family: Outfit;
}

.ingredients-content h2 {
  margin-top: 1.5rem;
  font-family: Young Serif, serif;
  color: var(--color-nutmeg);
  font-weight: 400;
}

.ingredients-content ul {
  margin: 1rem 0 0 1.5rem;
  font-size: 1rem;
  /* width: 13rem; */
}

.ingredients-content li {
  padding: 0 0 0.5rem 1rem;
  font-family: Outfit;
}

hr {
  color: var(--color-nutmeg);
  margin: 2rem 0 2rem 0;
  opacity: 70%;
}

.instructions-content h2 {
  font-family: Young Serif, serif;
  font-weight: 400;
  color: var(--color-nutmeg);
}

.instructions-content ol {
  margin: 1rem 0 0 1.5rem;
  font-size: 1rem;
  /* width: 13rem; */
}

.instructions-content li {
  padding: 0 0 0.5rem 1rem;
  font-family: Outfit;
}

.nutrition {
  margin-top: 1.5rem;
}

.nutrition h2 {
  font-family: "Young Serif", sans-serif;
  font-weight: 400;
  color: var(--color-nutmeg);
  font-size: 1.7rem;
}

.nutrition p {
  font-weight: 400;
  font-size: 1rem;
  /* width: 20rem; */
  margin: 1rem 0 1rem 0;
}

.value-nutrition {
  color: var(--color-nutmeg);
}

th,
td {
  border-bottom: 1px solid hsl(30, 10%, 34%, 0.5);
  padding: 8px;
}

.nutrition table {
  font-family: "Outfit", sans-serif;
  width: 100%;
  padding-left: 1rem;
  border-collapse: collapse;
}

.nutrition td {
  color: var(--color-wenge-brown);
  font-weight: 400;
  font-size: 1rem;
}

img {
  margin-bottom: 10px;
  width: 100%;
}

ol li::marker {
  color: var(--color-nutmeg);
  font-family: Outfit;
}

.preparation-content ul li::marker {
  color: var(--color-dark-raspberry);
}

.ingredients-content ul li::marker {
  color: var(--color-nutmeg);
}

@media screen and (min-width: 480px) {
  body {
    padding: 2em;
  }
  .main-container {
    overflow: hidden;
    width: 70%;
    border-radius: 1em;
    padding: 1em;
  }
  img {
    border-radius: 1em;
  }
}
@media screen and (min-width: 768px) {
  .main-container {
    width: 50%;
  }
}
